block link
    - var path = "C:/PUG_site/dist/css/CSS_text_style.css"
    link(rel="stylesheet", href=path)

block content
.container
    include menu.pug
    .central
        .row_1
            .picture
            .text
        .row_2
            .text
            .picture
        .row_3
            .picture_1
            .text
            .picture_2